<!-- Loop over each blog_Post in the blogPosts array -->
{{#if blogPosts.length}}
  {{#each blogPosts as |blogPost| }}
  <div class="project">
    <div>
      <h2>
        <a href="/Blog_Post/{{blogPost.id}}">{{blogPost.title}}</a>
      </h2>
      <p>Created by {{blogPost.user.username}} on {{format_date blogPost.date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{blogPost.content}}
      </p>
    </div>
  </div>
  {{/each}}
{{/if}}

<script src=""></script>